@use "../base/templates" as *;
@use "../base/media" as *;

.fancybox__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  width: 650px;
  max-width: 100%;
  background-color: white;
  color: var(--dark);
  padding: 50px 30px 30px 30px;
  cursor: auto;

  @include tablet {
    padding: 40px 20px 20px 20px;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    top: 20px;
    right: 30px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include tablet {
      width: 18px;
      height: 18px;
      top: 15px;
      right: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    width: 100%;
  }
  &__title {
    text-align: center;
  }
  &__content {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .btn-s[type="submit"] {
      width: 100%;
    }
  }
}

.modal-b {
  padding: 60px 50px;
  width: 800px;
  max-width: 100%;
  color: white;
  display: none;
  cursor: auto;
  z-index: 1;
  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
  }
  &::before {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &::after {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  @include laptop-min {
    padding: 50px 30px 30px 30px;
  }
  @include tablet {
    padding: 50px 20px 20px 20px;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;

    transition: color .3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      top: 20px;
      right: 30px;
    }

    @include tablet {
      width: 24px;
      height: 24px;
      right: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    width: 100%;
    height: 100%;
  }
  &__title {
    color: inherit;
    max-width: 565px;

    ._brand {
      color: inherit;
    }
  }
  &__form {
    max-width: 565px;
    margin-top: 80px;
    @include tablet {
      margin-top: 60px;
    }
    @include tablet-min {
      margin-top: 40px;
    }

    .form-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .input-control {
        @include tablet-min {
          grid-column: 2 span;
        }
      }
    }
    .form-nav {
      grid-column: 2 span;
      .btn-s {
        width: 100%;
      }
      .check-wrapper {
        margin-top: 20px;
      }
    }
  }
}
