@use '../base/templates' as *;
@use '../base/media' as *;

.s-offer {
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;

    @include laptop-min {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }
  &__img {
    display: block;
    flex-shrink: 0;
    width: 530px;
    height: auto;

    @include laptop-min {
      width: 480px;
    }
    @include laptop-min {
      width: 550px;
    }
  }
  &__info {
    padding-top: 20px;
    max-width: 715px;
    @include laptop {
      padding-top: 0;
    }
    @include laptop-min {
      max-width: none;
      width: 100%;
    }
  }
  &__title {
    @include laptop-min {
      max-width: 700px;
    }
  }
  &__content {
    margin-top: 25px;
  }
  &__btn {
    margin-top: 35px;
    @include tablet-min {
      margin-top: 30px;
      width: 100%;
    }
  }
}
