@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--primary);
  --border: var(--primary);
  --color: white;
  --background-h: var(--primary-dark);
  --border-h: var(--primary-dark);
  --color-h: white;

  @include flex-center;
  padding: 15px 25px;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--border);
  width: fit-content;

  text-align: center;
  color: var(--color);
  font-weight: 700;
  user-select: none;

  transition:
    border-color 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;

  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }
}
