@use '../base/templates' as *;
@use '../base/media' as *;

.content-box {
  & > * {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1.3em;
    }
  }

  ul {
    padding-left: 25px;
  }
}

.b-text {
  font-size: 36px;
  margin-top: 10px;
  @include laptop {
    font-size: 30px;
  }
  @include laptop-middle {
    font-size: 26px;
  }
  @include laptop-min {
    font-size: 22px;
  }
  @include tablet {
    font-size: 20px;
  }
}
