<aside>
  <div class="burger-overlay" id="burger-overlay"></div>
  <div class="burger" id="burger">
    <div class="burger__head">
      <a href="/" class="burger__logo">
        <img src="@img/logo.svg" alt="image" />
      </a>
      <div class="burger__close" id="burger-close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
    </div>
    <ul class="list burger__list">
      <li><a href="#s-products">Виды масла</a></li>
      <li><a href="#s-prices">Прайс-лист</a></li>
      <li><a href="#s-calc">Калькулятор</a></li>
      <li><a href="#s-faq">FAQ</a></li>
      <li><a href="#s-contacts">Контакты</a></li>
    </ul>
    <div class="burger__contacts">
      <a href="#modal-feedback" data-fancybox class="btn-s burger__btn">
        Записаться онлайн
      </a>
      <div class="burger__contacts-info">
        <a href="tel:+79999999999" class="burger__tel">+7 (999) 999-99-99</a>
        <div class="burger__address">г. Казань, ул. Космонавтов, 46Б</div>
      </div>
    </div>
  </div>
</aside>
