<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="footer__nav">
        <div class="nav-title">Навигация</div>
        <ul class="list footer__nav-list">
          <li><a href="/#s-products">Виды масла</a></li>
          <li><a href="/#s-prices">Прайс-лист</a></li>
          <li><a href="/#s-calc">Калькулятор</a></li>
          <li><a href="/#s-faq">FAQ</a></li>
          <li><a href="/#s-contacts">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__contacts">
        <a href="tel:+79999999999" class="footer__tel">+7 (999) 999‒99‒99</a>
        <div class="footer__address">г. Казань, ул. Космонавтов, 46Б</div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2025 ”Центр масла”, ИНН: 123123123123, ОГРН: 123123123123123
      </div>
      <ul class="list footer__bottom-list">
        <li>
          <a href="#" target="_blank">Правила обработки персональных данных</a>
        </li>
        <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
        <li>
          <a href="https://qorix.ru/" target="_blank">
            <span>Разработка сайта —</span>
            <img src="@img/qroix.svg" alt="qorix" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
