<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__burger-btn" id="burger-open">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="image" />
      </a>
      <nav class="header__nav">
        <ul class="list header__list">
          <li><a href="/#s-products">Виды масла</a></li>
          <li><a href="/#s-prices">Прайс-лист</a></li>
          <li><a href="/#s-calc">Калькулятор</a></li>
          <li><a href="/#s-faq">FAQ</a></li>
          <li><a href="/#s-contacts">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a href="tel:+79999999999" class="header__mob-tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
        </a>
        <a href="#modal-feedback" data-fancybox class="btn-s header__btn">
          Записаться онлайн
        </a>
        <div class="header__contacts-info">
          <a href="tel:+79999999999" class="header__tel">+7 (999) 999-99-99</a>
          <div class="header__address">г. Казань, ул. Космонавтов, 46Б</div>
        </div>
      </div>
    </div>
  </div>
</header>
