<section class="s-calc sect-p bg-ghost" id="s-calc">
  <div class="container">
    <div class="s-calc__wrapper">
      <div class="s-calc__info">
        <h2 class="s-title s-calc__title">
          Расчитать стоимость замены масла
          <br />
          за
          <span>1 минуту</span>
        </h2>
        <div class="content-box s-calc__content">
          <p>
            Высокий уровень вовлечения представителей целевой аудитории является
            четким доказательством простого факта: сплочённость команды
            профессионалов играет определяющее значение для позиций, занимаемых
            участниками в отношении поставленных задач. С другой стороны,
            высококачественный прототип будущего проекта обеспечивает
            актуальность существующих финансовых и административных условий.
          </p>
        </div>
      </div>
      <div class="s-calc__widget-calc widget-calc" id="widget-calc">
        <div class="s-calc__widget-nav">
          <div class="s-calc__widget-nav-item widget-calc-nav-item _active">
            МАРКА
          </div>
          <div class="s-calc__widget-nav-item widget-calc-nav-item">МОДЕЛЬ</div>
          <div class="s-calc__widget-nav-item widget-calc-nav-item">МАСЛО</div>
          <div class="s-calc__widget-nav-item widget-calc-nav-item">РАСЧЕТ</div>
        </div>
        <div class="s-calc__widget-window widget-calc-window _active _show">
          <div class="s-calc__widget-window-title">
            Укажите марку автомобиля
          </div>
          <div class="s-calc__widget-control">
            <div class="input-name">Введите вручную или выберите из списка</div>
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Введите марку (например: Mazda)"
                  class="input"
                />
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
              </div>
            </div>
          </div>
          <div class="s-calc__widget-bottom">
            <div class="btn-s s-calc__widget-next widget-calc-next">Далее</div>
          </div>
        </div>
        <div class="s-calc__widget-window widget-calc-window">
          <div class="s-calc__widget-window-title">
            Укажите модель автомобиля
          </div>
          <div class="s-calc__widget-control">
            <div class="input-name">Введите вручную или выберите из списка</div>
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Введите марку (например: Mazda)"
                  class="input"
                />
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
              </div>
            </div>
          </div>
          <div class="s-calc__widget-bottom">
            <div class="btn-s s-calc__widget-next widget-calc-next">Далее</div>
          </div>
        </div>
        <div class="s-calc__widget-window widget-calc-window">
          <div class="s-calc__widget-window-title">
            Укажите масло автомобиля
          </div>
          <div class="s-calc__widget-control">
            <div class="input-name">Введите вручную или выберите из списка</div>
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Введите марку (например: Mazda)"
                  class="input"
                />
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
                <div class="select-item">Toyota</div>
                <div class="select-item">Volkswagen</div>
                <div class="select-item">Tesla</div>
                <div class="select-item">LADA</div>
                <div class="select-item">Haval</div>
              </div>
            </div>
          </div>
          <div class="s-calc__widget-bottom">
            <div class="btn-s s-calc__widget-next widget-calc-next">Далее</div>
          </div>
        </div>
        <div class="s-calc__widget-window widget-calc-window">
          <div class="s-calc__widget-window-title">Заполните форму</div>
          <form class="s-calc__form widget-calc-form">
            <div style="display: none">
              <textarea class="input-note"></textarea>
            </div>
            <div class="input-control">
              <input type="text" placeholder="Ваше имя" class="input" />
            </div>
            <div class="input-control">
              <input type="tel" placeholder="Ваш телефон" class="input" />
            </div>
            <div class="check-wrapper">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-278">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-278"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я даю согласие на
                          <a href="/privacy-policy" target="_blank">
                            обработку персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <button type="submit" class="btn-s">Оставить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
