<section class="sect-p s-connect" id="s-connect">
  <img src="@img/decor-left.png" alt="image" class="s-connect__decor _left">
  <img src="@img/decor-right.png" alt="image" class="s-connect__decor _right">

  <div class="container">
    <img src="@img/connect-img.png" alt="image" class="s-connect__img">
    <div class="s-connect__info">
      <h2 class="m-title s-connect__title">оставьте заявку</h2>
      <div class="b-text s-connect__descr">
        на экспрес замену масла в двигателе в “Центре масла” на Космонавтов, 46Б
      </div>
      <form class="s-connect__form">
        <div class="form-grid">
          <div class="input-control">
            <input type="text" placeholder="Ваше имя" class="input" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Ваш телефон" class="input" />
          </div>
          <div class="form-nav">
            <button type="submit" class="btn-s">Оставить заявку</button>
            <div class="check-wrapper">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-278">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-278"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я даю согласие на
                          <a href="/privacy-policy" target="_blank">
                            обработку персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
