<section class="s-contacts sect-p bg-ghost" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">контакты</h2>
    </div>
    <div class="s-contacts__wrapper">
      <div class="s-contacts__info">
        <img src="@img/logo-white.svg" alt="logo" class="s-contacts__logo" />
        <a href="tel:+79999999999" class="s-contacts__tel">
          +7 (999) 999‒99‒99
        </a>
        <div class="s-contacts__item">
          <strong>Адрес:</strong>
          <br />
          г. Казань, ул. Космонавтов, 46Б
        </div>
        <div class="s-contacts__item">
          <strong>Режим работы:</strong>
          <br />
          пн-вс: с 09:00 до 19:00
        </div>
        <a
          href="#modal-feedback"
          data-fancybox
          class="btn-s _white s-contacts__btn"
        >
          Записаться онлайн
        </a>
      </div>
      <div
        data-center="[55.794067068955925,49.20000049999998]"
        data-zoom="17"
        class="map s-contacts__map"
      ></div>
    </div>
  </div>
</section>
