<section class="sect-p bg-ghost s-faq" id="s-faq">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Часто задаваемые вопросы</h2>
    </div>
    <div data-spollers class="s-faq__grid">
      <div class="s-faq__col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Как уже неоднократно упомянуто</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Значимость этих проблем настолько очевидна, что постоянное
                  информационно-пропагандистское обеспечение нашей деятельности
                  способствует повышению качества глубокомысленных рассуждений.
                  Наше дело не так однозначно, как может показаться: реализация
                  намеченных плановых заданий предполагает независимые
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
