<section class="s-hero">
  <div class="container">
    <div class="s-hero__slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-prev'></use>
        </svg>
      </div>
      <div class="swiper s-hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__slide-info">
              <h1 class="s-hero__slide-title m-title">
                Экспрес замена масла в двигателе
              </h1>
              <div class="s-hero__slide-text">в Казани на ул. Космонавтов</div>
              <a
                href="#modal-feedback" data-fancybox
                data-btn-note="Узнать цену"
                data-target-note="#modal-feedback .input-note"
                class="btn-s s-hero__slide-btn"
              >
                Узнать цену
              </a>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img">
          </div>
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__slide-info">
              <h1 class="s-hero__slide-title m-title">
                Экспрес замена масла в двигателе 2
              </h1>
              <a
                href="#modal-feedback" data-fancybox
                data-btn-note="Узнать цену"
                data-target-note="#modal-feedback .input-note"
                class="btn-s s-hero__slide-btn"
              >
                Узнать цену
              </a>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img">
          </div>
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__slide-info">
              <h1 class="s-hero__slide-title m-title">
                Экспрес замена масла в двигателе
              </h1>
              <div class="s-hero__slide-text">в Казани на ул. Космонавтов</div>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img">
          </div>
        </div>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-next'></use>
        </svg>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
