<section class="sect-p bg-ghost s-offer" id="s-offer">
  <div class="container">
    <div class="s-offer__wrapper">
      <img src="@img/offer.jpg" alt="image" class="s-offer__img" />
      <div class="s-offer__info">
        <h2 class="s-title s-offer__title">
          Заменим масло в двигателе СЕГОДНЯ за <span>30 минут</span>
        </h2>
        <div class="content-box s-offer__content">
          <ul>
            <li>Заезд в день обращения</li>
            <li>Самая низкая цена в городе</li>
            <li>Наличие оригинальных масел под все модели авто</li>
          </ul>
        </div>
        <a href="#modal-feedback" data-fancybox class="btn-s s-offer__btn">Записаться онлайн</a>
      </div>
    </div>
  </div>
</section>
