<section class="s-prices sect-p bg-ghost" id="s-prices">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Актуальный прайс-лист</h2>
    </div>
    <table class="s-prices__table">
      <thead>
        <tr>
          <th>Наименование услуги</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Замена масла в ДВС</td>
          <td>от 2500 руб.</td>
        </tr>
        <tr>
          <td>Замена масла в ДВС</td>
          <td>от 2500 руб.</td>
        </tr>
        <tr>
          <td>Замена масла в ДВС</td>
          <td>от 2500 руб.</td>
        </tr>
        <tr>
          <td>Замена масла в ДВС</td>
          <td>от 2500 руб.</td>
        </tr>
        <tr>
          <td>Замена масла в ДВС</td>
          <td>от 2500 руб.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>