<section class="sect-p s-products bg-ghost" id="s-products">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Моторное масло в наличии</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev _primary _min">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next _primary _min">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-products__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <div class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <h3 class="card-product__title">
              Синтетическое моторное масло Suprotec Atomium 5W-30 4л
            </h3>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
